Source: xorg-server
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Steve Langasek <vorlon@debian.org>, Julien Cristau <julien.cristau@ens-lyon.org>
# all the Build-Depends up to x11proto-xf86-dri-dev are for the normal Xorg
# server, and common dependencies for the DIX.
# x11proto-xf86dri-dev and libdrm-dev are for DRI support for the Xorg server.
# everything on is for the DMX and Xnest servers.
Build-Depends: debhelper (>= 4.0.0), pkg-config, bison, flex,
 x11proto-bigreqs-dev, x11proto-composite-dev, x11proto-core-dev,
 x11proto-damage-dev, x11proto-evie-dev, x11proto-fixes-dev (>= 4.0),
 x11proto-kb-dev (>= 1.0.1-1), x11proto-xinerama-dev, x11proto-randr-dev,
 x11proto-record-dev, x11proto-render-dev, x11proto-resource-dev,
 x11proto-scrnsaver-dev, x11proto-trap-dev, x11proto-video-dev,
 x11proto-xcmisc-dev, x11proto-xext-dev (>= 6.9.99.0-1),
 x11proto-xf86bigfont-dev, x11proto-xf86dga-dev, x11proto-xf86misc-dev,
 x11proto-xf86vidmode-dev, xtrans-dev, libxau-dev (>= 1:0.99.1-1),
 libxdmcp-dev (>= 1:0.99.1-1), libxfont-dev, libfontenc-dev,
 libxkbfile-dev (>= 1:0.99.1-1), x11proto-xf86dri-dev,
 libdrm-dev (>= 2.3.0) [!hurd-i386], mesa-swx11-source (>= 6.5.2),
 x11proto-gl-dev (>= 1.4.8), libgl1-mesa-dev (>= 6.5.1),
 libxmuu-dev (>= 1:0.99.1-1), libxext-dev (>= 1:0.99.1-1),
 libx11-dev (>= 1:0.99.2-1), libxrender-dev (>= 1:0.9.0-1),
 libxi-dev (>= 1:0.99.1-1), x11proto-dmx-dev, quilt, libdmx-dev (>= 1:1.0.1-1),
 libxpm-dev (>= 1:3.5.3-1), libxaw7-dev (>= 1:0.99.1-1),
 libxt-dev (>= 1:0.99.1-1), libxmu-dev (>= 1:0.99.1-1),
 libxtst-dev (>= 1:0.99.1-1), libxres-dev (>= 1:0.99.1-1)
Build-Conflicts: xlibs-static-dev
Standards-Version: 3.7.2.0

Package: xserver-xorg-core
Architecture: any
Depends: x11-common (>= 1:7.0.0), ${shlibs:Depends}, ${misc:Depends}, xserver-xorg
Recommends: xkb-data, xfonts-base
Suggests: xfonts-100dpi | xfonts-75dpi, xfonts-scalable
Conflicts: xserver-xorg (<< 6.8.2-38), xserver-xfree86 (<< 1:7.0.0), xserver-xorg-video
Replaces: xserver-xorg (<< 6.8.2-38), xserver-xfree86 (<< 1:7.0.0)
Provides: xserver
Description: X.Org X server -- core server
 The X.Org X server is an X server for several architectures and operating
 systems, which is derived from the XFree86 4.x series of X servers.
 .
 The X.Org server supports most modern graphics hardware from most vendors,
 and supersedes all XFree86 X servers.
 .
 The X.Org server either needs fonts installed on the local host, or needs to
 know of a remote hosts that provides font services (with xfs, for instance).
 The former means that fonts packages are mandatory.  The latter means that
 font packages may be gratuitous.  To err on the side of caution, install at
 least the xfonts-base, xfonts-100dpi or xfonts-75dpi, and xfonts-scalable
 packages.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xserver-xorg-dev
Architecture: any
Depends: ${misc:Depends}
Description: X.Org X server -- development files
 This package provides development files for the X.Org ('Xorg') X server.
 This is not quite the same as the DDK (Driver Development Kit) from the
 XFree86 4.x and X.Org 6.7, 6.8 and 6.9 series of servers; it provides
 headers and a pkg-config file for drivers using autotools to build
 against.
 .
 Unless you are developing or building a driver, you probably want
 xserver-xorg and/or xserver-xorg-core instead.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xdmx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed Multihead X server
 Xdmx is a proxy X server that uses one or more other X servers as its
 display device(s).  It provides multi-head X functionality for displays that
 might be located on different machines.  Xdmx functions as a front-end X server
 that acts as a proxy to a set of back-end X servers.  All of the visible
 rendering is passed to the back-end X servers.  Clients connect to the Xdmx
 front-end, and everything appears as it would in a regular multi-head
 configuration.  If Xinerama is enabled (e.g., with +xinerama on the command
 line), the clients see a single large screen.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xdmx-tools
Architecture: any
Depends: xdmx, ${shlibs:Depends}, ${misc:Depends}
Replaces: xdmx (<= 2:1.1.1-10)
Description: Distributed Multihead X tools
 This package provides a collection of tools used for administration of
 the Xdmx server; see the xdmx package for more information.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xnest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nested X server
 Xnest is a nested X server that simply relays all its requests to another
 X server, where it runs as a client.  This means that it appears as another
 window in your current X session.  Xnest relies upon its parent X server
 for font services.
 .
 Use of the Xephyr X server instead of Xnest is recommended.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xvfb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xbase-clients
Description: Virtual Framebuffer 'fake' X server
 Xvfb provides an X server that can run on machines with no display hardware
 and no physical input devices.  It emulates a dumb framebuffer using virtual
 memory.  The primary use of this server was intended to be server testing,
 but other novel uses for it have been found, including testing clients
 against unusual depths and screen configurations, doing batch processing with
 Xvfb as a background rendering engine, load testing, as an aid to porting the
 X server to a new platform, and providing an unobtrusive way to run
 applications that don't really need an X server but insist on having one
 anyway.
 .
 This package also contains a convenience script called xvfb-run which
 simplifies the automated execution of X clients in a virtual server
 environment.  This convenience script requires the use of the xauth
 program.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'xserver/xorg' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: xserver-xephyr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xbase-clients
Description: Next Generation Nested X Server
 xserver-xephyr is an X server that can be run inside another X server,
 much like xnest. xephyr though, is based on the kdrive X server, and as a
 result it supports newer extensions than xnest, including render and
 composite.
